.full-height {
    height: 100%;
}

.map-selection-container {
    display: flex;
    justify-content: space-between;
    mat-form-field {
        width: 120px;
        height: 35px;
    }
}
mat-select {
    div span {
        width: 110px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
}